<div class="mb-4 h2 text-success">Sign up</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      type="text"
      class="form-control bg-body-secondary"
      placeholder="Full Name"
      formControlName="fullName"
    />
    @if (hasDisplayableError('fullName') && form.controls.fullName.hasError('required')) {
      <div class="error-feedback">Please enter your full name.</div>
    }
  </div>
  <div class="mb-3">
    <input
      type="text"
      class="form-control bg-body-secondary"
      placeholder="Email"
      formControlName="email"
    />
    @if (hasDisplayableError('email')) {
      @if (form.controls.email.hasError('required')) {
        <div class="error-feedback">Please enter your email address.</div>
      }
      @if (form.controls.email.hasError('email')) {
        <div class="error-feedback">Please enter a valid email address.</div>
      }
    }
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control bg-body-secondary"
      placeholder="Password"
      formControlName="password"
    />
    @if (hasDisplayableError('password')) {
      <!-- container is used as an example here; otherwise it's redundant -->
      <ng-container>
        @switch (form.controls.password.errors | firstKey) {
          @case ('required') {
            <div class="error-feedback">Please enter your password.</div>
          }
          @case ('minlength') {
            <div class="error-feedback">At least 6 characters required.</div>
          }
          @case ('pattern') {
            <div class="error-feedback">One or more special character(s).</div>
          }
        }
      </ng-container>
    }
  </div>
  <div class="mb-3">
    <input
      type="password"
      class="form-control bg-body-secondary"
      placeholder="Confirm Password"
      formControlName="confirmPassword"
    />
    @if (
      hasDisplayableError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')
    ) {
      <div class="error-feedback">Passwords do not match.</div>
    }
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">Register</button>
  </div>
</form>
